<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/base-layout :: head">

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 class="text-center my-3">LIBROS</h2>
                <a th:href="@{/form}"><button class="btn btn-success my-3">AGREGAR</button></a>
                <table class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>Autor</th>
                            <th>Título</th>
                            <th>Publicación</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="libro : ${libros}">
                            <td th:text="${libro.autor}"></td>
                            <td th:text="${libro.titulo}"></td>
                            <td th:text="${#dates.format(libro.fechaPublicacion, 'dd-MM-YYYY')}"></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    
</body>
</html>